<div class="jumbotron">
    <h1>Weather Service</h1>
    <p class="lead">The Weather Service is running successfully.</p>
</div>
<div class="row">
    <div class="col">
        <h2>You can query the API with the following endpoints:</h2>
        <ul>
            <li><code>/api/temperature/average</code> - GET - average temperature for the past hour in Sweden</li>
            <li><code>/api/precipitation/total</code> - GET - total precipitation in mm for the past few months in Lund</li>
            <li><code>/api/temperature/all</code> - GET - Temperature for the past hour for every available weather station in Sweden</li>
        </ul>
    </div>
</div>
